body {
    font-family: 'Montserrat';
}
.container {
    max-width: 1143px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 27px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 54px;
}
.header-nav a {
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    text-decoration: none;
    padding-bottom: 10px;
}
.header-nav a:hover {
    color: #181F27;
    border-bottom: 1px solid #2B3541;
}
.header-links {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.header-links a {
    display: block;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.inst {
    background-image: url(../images/inst.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.fb {
    background-image: url(../images/fb.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header-links li {
    margin-left: 30px;
}
.header-links a:hover {
    transform: scale(1.2);
    opacity: 1;
 }
.main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}
.main-title span {
    font-weight: 400;
    font-size: 40px;
}